:root, body {
	margin: 0;
	padding: 0;
	--main-color-1: slategray;
	--main-color-2: lavender;
	--main-color-3: midnightblue;
}

body {
	background-color: var(--main-color-1);
	font-family: "Trebuchet MS", Helvetica, Sans-Serif;
	color: var(--main-color-2);
	margin: 15px 0;
}

#bricks-container {
	width: 94%;
	margin: 0 auto;
}

#brick-sizer {
	display: none;
}

#brick-sizer, .brick {width: 32.5%;}

.brick {
	margin: 2px;
	border: 1px solid var(--main-color-2);
	border-radius: 4px;
	max-height: 720px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.15);
}

.brick:hover > .remove-button {
	display: block;
}

.screenshot {
	display: block;
	border-radius: 4px;
	width: 100%;
}

.remove-button {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 4em;
	color: var(--main-color-3);
	text-align: center;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: var(--main-color-3);
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 4px;
	line-height: 50%;
	overflow: hidden;
	background-color: var(--main-color-2);
	cursor: pointer;
	-moz-user-select: none;
	opacity: .6;
}

.remove-button:hover {
	opacity: .75;
}

#loading-brick {
	display: none;
	border: none;
	background-color: transparent;
}

#noresults {
	text-align: center;
}

.error-container {
	padding: 14px 20px;
}

.error-name {
	color: var(--main-color-3);
	font-size: 1.1em;
}

.error-name::after {
	content: ': ';
}

@media screen and (min-width: 1600px) {
	#brick-sizer, .brick {
		width: 24.5%;
	}
}

@media screen and (min-width: 2500px) {
	#brick-sizer, .brick {
		width: 16.7%;
	}
}

@media screen and (max-width: 960px) {
	#brick-sizer, .brick {
		width: 49%;
	}
}

@media screen and (max-width: 540px) {
	#brick-sizer, .brick {
		width: 98.5%;
	}
}
